@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create New Role</h1>
<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <input type="submit" value="Add" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>